<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Board Game</title>
</head>
<body>
    <h1>Create new Board Game</h1>

    <form th:action="@{/boardgames/{operation}/{id}(operation=${operation}, id=${boardgame.gameID})}" th:object="${boardgame}" method="post">
        <label for="gameTitle">Game Title:</label>
        <input th:field="*{gameTitle}" type="text" name ="gameTitle" id="gameTitle"><br>
        <label for="minPlayers">Min players:</label><br>
        <input th:field="*{minPlayers}" type="text" name ="minPlayers" id="minPlayers"><br>
        <label for="maxPlayers">Max players:</label><br>
        <input th:field="*{maxPlayers}" type="text"  name ="maxPlayers" id="maxPlayers"><br>
        <label for="minPlayTime">Min play time:</label><br>
       <input th:field="*{minPlayTime}"type="text" name ="minPlayTime" id="minPlayTime"><br>
        <label for="maxPlayTime">Max Play time:</label><br>
       <input th:field="*{maxPlayTime}" type="text" name ="maxPlayTime" id="maxPlayTime"><br>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset fields"/>
    </form>

    <p><a th:href="@{/boardgames}">Go back</a></p>

</body>
</html>