<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Game Details</title>
</head>
<body>
<h1>Game</h1>
  <div th:object="${boardgame}">
    <p><b>Game ID: </b><td th:text="${boardgame.gameID}"></td></p>
    <p><b>Game Title: </b><td th:text="${boardgame.gameTitle}"></td></p>
    <p><b>Min Players: </b><td th:text="${boardgame.minPlayers}"></td></p>
    <p><b>Max Players: </b><td th:text="${boardgame.maxPlayers}"></td></p>
    <p><b>Min Play Time: </b><td th:text="${boardgame.minPlayTime}"></td></p>
    <p><b>max Play Time: </b><td th:text="${boardgame.maxPlayTime}"></td></p>
  </div>
  <td> <a th:href="@{/boardgames/updategame/{id}(id = ${boardgame.gameID})}">Update</a> </td>
  <p><a th:href="@{/boardgames}" >Go back</a></p>

</body>
</html>