<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardgames</title>
</head>
<body>
    <h1>Board Games</h1>

    <table border="2">
        <tr>
            <th>GameID</th>
            <th>Game Title</th>
            <th>Min players</th>
            <th>Max Players</th>
            <th>Min playtime</th>
            <th>Max playtime</th>
        </tr>
    <tr th:each="boardgame: ${boardGamesFromController}">
            <td th:text="${boardgame.gameID}"></td>
            <td th:text="${boardgame.gameTitle}"></td>
            <td th:text="${boardgame.minPlayers}"></td>
            <td th:text="${boardgame.maxPlayers}"></td>
            <td th:text="${boardgame.minPlayTime}"></td>
            <td th:text="${boardgame.maxPlayTime}"></td>
            <td> <a th:href="@{/boardgames/id/{id}(id = ${boardgame.gameID})}">Details by id reference</a> </td>
            <td> <a th:href="@{/boardgames/game/{id}(id = ${boardgame.gameTitle})}">Details by title reference</a></td>
            <td> <a th:href="@{/boardgames/updategame/{id}(id = ${boardgame.gameID})}">Update</a> </td>
            <td> <a th:href="@{/boardgames/deleteGame/{id}(id = ${boardgame.gameID})}">Delete</a> </td>
        </tr>
    </table>
    <br>
    <p><a th:href="@{/boardgames/creategame}">Create new Board Game</a></p>
    <p><a th:href="@{/}" >Go back</a></p>

</body>
</html>