<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="/scripts/filterTables.js"></script>
    <title>Users main page</title>
</head>
<body>


<!-- Available users -->
<h2>Available users</h2>
<!-- Response message for any of the user operations -->
<p th:if="${responseMessage != null}" th:text="${responseMessage}" />
<div>
    <!-- Create a button to go to the User Form creation -->
    <p><a th:href="@{/users/createUser}" class="w3-button w3-green">Add a new user</a></p>
    <p><a th:href="@{/}" class="w3-button w3-red">Return to main menu</a></p>
</div>
<!-- Create a User filter field -->
<input type="text" id="usernameInput" onkeyup="filterRows(this.id, 'usersTable', 0)" placeholder="Search for username...">
<input type="text" id="userFirstNameInput" onkeyup="filterRows(this.id, 'usersTable', 1)" placeholder="Search for first name...">
<input type="text" id="userLastNameInput" onkeyup="filterRows(this.id, 'usersTable', 2)" placeholder="Search for last name...">
<input type="text" id="userMailInput" onkeyup="filterRows(this.id, 'usersTable', 3)" placeholder="Search for mail...">
<!-- Show all Users -->
<table id="usersTable" class="w3-table-all w3-hoverable">
    <!-- The first row is the table header-->
    <tr class="header">
        <td>Username</td>
        <td>First name</td>
        <td>Last name</td>
        <td>Mail</td>
        <td>User ID</td>
    </tr>
    <!-- Now we loop over all the available users -->
    <tr th:each="user:${usersFromController}">
        <td th:text="${user.username}"/>
        <td th:text="${user.firstName}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.email}"/>
        <td th:text="${user.userId}"/>
        <!-- Create buttons to check, update or delete a User -->
        <td> <a th:href="@{/users/id/{id}(id = ${user.userId})}" class="w3-button w3-green">Details</a> </td>
        <td> <a th:href="@{/users/updateUser/{id}(id = ${user.userId})}" class="w3-button w3-green">Update</a> </td>
        <td> <a th:href="@{/users/resetPassword/{id}(id = ${user.userId})}" class="w3-button w3-green">Reset password</a> </td>
        <td> <a th:href="@{/users/deleteUser/{id}(id = ${user.userId})}" class="w3-button w3-red">Delete</a> </td>
    </tr>
</table>
<br>
</body>
</html>