<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Gameplay details</title>
</head>
<body>
<h1>Gameplay details</h1>
<div class="w3-card-40" style="width:50%">
    <header class="w3-container w3-light-grey">
        <p>Gameplay details</p>
    </header>
    <!-- Show a User form -->
    <div class="w3-container" th:object="${gameplay}">
        <p>
            <label th:text="|ID: *{gameplayId}|"/>
        </p>
        <p>
            <label th:text="|Time: *{time}|"/>
        </p>
        <p th:if="*{players} != null">
            Players:
            <ol>
                <li th:each="player: *{players}" th:text="${player.username}"/>
            </ol>
        </p>


        <p>
            <label th:text="|Winner: *{winner != null ? winner.username : 'None'}|"/>
        </p>
        <a th:href="@{/gameplays/updateGameplay/{id}(id = *{gameplayId})}" class="w3-button w3-green">Update</a>
        <a th:href="@{/gameplays/deleteGameplay/{id}(id = *{gameplayId})}" class="w3-button w3-red">Delete</a>
    </div>
    <!-- Create a button to go to the Gameplays management page -->
    <p>
        <a th:href="@{/gameplays}" class="w3-button w3-red">Return to gameplay management</a>
    </p>
    <br>
</div>
</body>
</html>