<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="/scripts/filterTables.js"></script>
    <title>Reset User Password</title>
</head>
<body>
<div>
  <!-- Reset password title -->
  <h2>Reset password</h2>
  <!-- Response message for any of the user operations -->
  <p th:if="${responseMessage != null}" th:text="${responseMessage}" />

    <!-- Show a User form -->
    <div class="w3-container">
        <form th:action="@{/users/resetPassword/{id}(id=${userId})}" method="post">
            <!-- User fields -->
            <p>
                <label for="userId">User ID</label>
                <input th:value="${userId}" type="text" name="userId" class="w3-input" id="userId" readonly />
            </p>
            <!-- Password fields -->
            <!-- TODO: New password validation -->
            <p>
                <label for="newPassword">Password</label>
                <input type="password" name="newPassword" class="w3-input" id="newPassword" required />
            </p>
            <!-- Form buttons -->
            <p>
                <input type="submit" value="Submit new password" />
                <input type="reset" value="Reset fields" />
            </p>
        </form>
    </div>
  <!-- Create a button to go to the User management page -->
  <p>
    <a th:href="@{/users}" class="w3-button w3-red">Return to users management</a>
  </p>
  <br>
</div>

</body>
</html>