<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>TinderGames</title>
</head>
<body class="body">
<div class="logo">
<h1><p class="title">Meeple Match</p></h1>
<h2><p class="subtitle">Match & play together</p> </h2>
</div>


<th:block th:if="${session.isLoggedIn == true}">
    <h2 th:if="${session.username != null}" th:text="|Welcome, ${session.username}!|"/>
    <p><a th:href="@{/users/id/{userId}(userId=${session.userId})}" class="w3-button w3-red">My profile</a></p>
    <p><a th:href="@{/users/logout}" class="w3-button w3-red">Log Out</a></p>
</th:block>
<th:block th:unless="${session.isLoggedIn == true}">
    <p><a th:href="@{/users/login}" class="w3-button w3-green">Log In</a></p>
    <p><a th:href="@{/users/createUser}" class="w3-button w3-green">Sign In</a></p>
</th:block>


<div class="index">
    <!-- Create a button to go to the available main pages -->
    <p><a th:href="@{/users/}" class="w3-button w3-green">Users Management</a></p>
    <p><a th:href="@{/users/createUser}" class="w3-button w3-green">Sign in</a></p>
    <p><a th:href="@{/aboutus}" class="w3-button w3-green">About us</a></p>
    <p><a th:href="@{/gameplays/}" class="w3-button w3-green">Gameplay Management</a></p>

</div>
</body>
</html>