<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>User Log In</title>
</head>
<body>
<h1>User log in</h1>
<div class="w3-card-40" style="width:50%">
    <!-- Print the response message -->
    <p th:if="${responseMessage != null}" th:text="${responseMessage}" />
    <div class="w3-container">
        <form th:action="@{/users/login}" method="post">
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="w3-input" required />
            </p>
            <!-- TODO: New password validation -->
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="w3-input" required />
            </p>
            <!-- Form buttons -->
            <p>
                <input type="submit" value="Log in" />
                <input type="reset" value="Reset fields" />
            </p>
        </form>
    </div>
    <!-- Create a button to go back to the main page -->
    <p>
        <a th:href="@{/}" class="w3-button w3-red">Return to main menu</a>
    </p>
</div>

</body>
</html>