<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>User details</title>
</head>
<body>
<h1>User details</h1>
<div class="w3-card-40" style="width:50%">
    <header class="w3-container w3-light-grey">
        <p>User details</p>
    </header>
    <!-- Show a User form -->
    <div class="w3-container" th:object="${user}">
        <p>
            <label th:text="'ID: ' + *{userId}"/>
        </p>
        <p>
            <label th:text="'First name: ' + *{firstName}"/>
        </p>
        <p>
            <label th:text="'Last name: ' + *{lastName}"/>
        </p>
        <p>
            <label th:text="'Username: ' + *{username}"/>
        </p>
        <p>
            <label th:text="'Email: ' + *{email}"/>
        </p>
        <!-- Current friends list -->
        <p th:if="*{friends} != null">
            <label>Current friends:</label>
            <ol>
                <li th:each="player: ${user.friends}" th:text="${player.username}"/>
            </ol>
        </p>
        <a th:href="@{/users/updateUser/{id}(id = *{userId})}" class="w3-button w3-green">Update</a>
        <a th:href="@{/users/addFriends/{id}(id = *{userId})}" class="w3-button w3-blue">Add friends</a>
        <a th:href="@{/users/deleteUser/{id}(id = *{userId})}" class="w3-button w3-red">Delete</a>
    </div>
    <!-- Create a button to go to the home page -->
    <p>
        <a th:href="@{/}" class="w3-button w3-red">Return to home page</a>
    </p>
    <br>
</div>
</body>
</html>