<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>User form</title>
</head>
<body>

<h1>User form</h1>
<div class="w3-card-40" style="width:50%">
    <header class="w3-container w3-light-grey">
        <p th:text="${operation == 'createUser'} ? 'Create user form' : 'Update user form'" />
        <p th:text="${operation}" />
    </header>
    <!-- Print the response message -->
    <p th:if="${responseMessage != null}" th:text="${responseMessage}" />
    <!-- Show a User form -->
    <div class="w3-container">
        <form th:action="@{/users/{operation}/{id}(operation=${operation}, id=${user.userId})}" th:object="${user}" method="post">
            <!-- User fields -->
            <p>
                <label for="userID">User ID</label>
                <input th:if="${operation == 'updateUser'}" th:field="*{userId}" type="text" name="userId" class="w3-input" id="userId" readonly />
                <p th:unless="${operation == 'updateUser'}" th:value="*{userId}"/>
            </p>
            <p>
                <label for="firstName">First name</label>
                <input th:field="*{firstName}" type="text" name="firstName" class="w3-input" id="firstName" required />
            </p>
            <p>
                <label for="lastName">Last name</label>
                <input th:field="*{lastName}" type="text" name="lastName" class="w3-input" id="lastName" required />
            </p>
            <p>
                <label for="username">Username</label>
                <input th:field="*{username}" type="text" name="username" class="w3-input" id="username" required />
            </p>
            <!-- Password fields -->
            <!-- TODO: New password validation -->
            <p th:if="${operation == 'createUser'}">
                <label for="password">Password</label>
                <input type="password" name="password" class="w3-input" id="password" required />
            </p>
            <p>
                <label for="email">E-mail</label>
                <input th:field="*{email}" type="email" name="email" class="w3-input" id="email" pattern=".+@[a-z]+\.[a-z]+" required />
            </p>

            <!-- Form buttons -->
            <p>
                <input type="submit" value="Submit user" />
                <input type="reset" value="Reset fields" />
            </p>
        </form>
    </div>
    <!-- Create a button to go to the User management page -->
    <p>
        <a th:href="@{/users}" class="w3-button w3-red">Return to users management</a>
    </p>
    <br>
</div>
</body>
</html>