<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Gameplay Form</title>
</head>
<body>
<h1>Gameplay form</h1>
<div class="w3-card-40" style="width:50%">
    <header class="w3-container w3-light-grey">
        <p th:text="${operation == 'createGameplay'} ? 'Create Gameplay form' : 'Update Gameplay form'" />
        <p th:text="${operation}" />
    </header>
    <!-- Print the response message -->
    <p th:if="${responseMessage != null}" th:text="${responseMessage}" />
    <!-- Show a Gameplay form -->
    <div class="w3-container">
        <form th:action="@{/gameplays/{operation}/{id}(operation=${operation}, id=${gameplay.gameplayId})}" th:object="${gameplay}" method="post">
            <!-- User fields -->
            <p>
                <label for="gameplayId">Gameplay ID</label>
                <input th:field="*{gameplayId}" type="text" name="gameplayId" class="w3-input" id="gameplayId" readonly />
            </p>
            <!--
            <p>
                <label for="boardGame">Board game</label>
                <input th:field="*{boardGame}" type="text" name="boardGame" class="w3-input" id="boardGame" required />
            </p>
            -->
            <p th:if="${operation == 'createGameplay'}">
                <label>Players:</label>
                <br>
                <th:block th:each="player : ${availablePlayers}">
                    <!-- Checked items to borrow will be stored in the 'players' -->
                    <input type="checkbox" name="players" th:value="${player.userId}" th:text="${player.username}" />
                    <br>
                </th:block>
            </p>

            <p th:if="${operation == 'updateGameplay'}">
                <!-- Remember to resend the list of players on update!! -->
                <input type="hidden" th:field="*{players}" th:value="*{players}" />
                <p th:if="${gameplay.players} != null">
                    <label>Players:</label>
                    <ol>
                        <li th:each="player: *{players}" th:text="${player.username}"/>
                    </ol>
                </p>
            </p>

            <!-- Update form fields only! -->
            <p th:if="${operation == 'updateGameplay'}">
                <label for="time">Time played</label>
                <input th:field="*{time}" type="text" name="time" class="w3-input" id="time" required />
            </p>

            <p th:if="${operation == 'updateGameplay'}">
                <label for="winner">Winner</label>
                <select name="winner" class="form-control" id="winner">
                    <option selected value th:value="${gameplay.winner}" />
                    <option th:each="player : ${gameplay.players}" th:value="${player.userId}" th:text="${player.username}" />
                </select>
            </p>

            <!-- Form buttons -->
            <p>
                <input type="submit" value="Submit gameplay" />
                <input type="reset" value="Reset fields" />
            </p>
        </form>
    </div>
    <!-- Create a button to go to the Gameplays management page -->
    <p>
        <a th:href="@{/gameplays}" class="w3-button w3-red">Return to gameplays management</a>
    </p>
    <br>
</div>
</body>
</html>